<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="./index.css">
    <link href="https://fonts.googleapis.com/css2?family=Chilanka&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
  
    <div class="grid-container" id="apps">
        <div class="menu"></div>
        <div class="fecha">

            <label for="dateofbirth">Fecha</label>
                <input  type="date" name="dateofbirth" :value="myDate && new Date(myDate.getTime()-(myDate.getTimezoneOffset()*60*1000)).toISOString().split('T')[0]"
                @input="myDate = $event.target.valueAsDate" >



        </div>
        <div class="debito">
            <label for="debe">Monto debito</label>
            <input  type="number" name="debe" @keyup.enter="agregardebe"  v-model="debe">
        </div>
        <div class="credito">

            <label for="haber">Monto credito</label>
            <input  type="number" name="haber" @keyup.enter="agregarhaber"  v-model="haber">
        </div>
        <div class="codigo">

            <div class="select">
                <select name="slct" id="slct">
                  <option selected disabled>Seleccione una opcion</option>
                  <option value="1">Pure CSS</option>
                  <option value="2">No JS</option>
                  <option value="3">Nice!</option>
                </select>
              </div>


              <div class="abs"> 
                <button>Reiniciar</button>
                <button>Agregar</button>
            </div>

        </div>
        <div class="nombre">

            <textarea placeholder="Escriba aquí la descripción del asiento">
                

            </textarea>

        </div>
        <div class="debitogrid">

            <ul >
                <li v-for="item of debes">{{item}}</li>
            </ul>

            <input type="text" :value="totaldebito" readonly>
        </div>
        
        <div class="creditogrid">
            <ul >
                <li v-for="item of haberes">{{item}}</li>
            </ul>

            <input type="text" :value="totalcredito" readonly>
        </div>
        <div class="grid"></div>
        <div class="botones">
          
            
          
            <div class="abs">
                <button>></button>
                <button>>></button>
                <button><<</button>
                <button><</button>
            </div>
     
        </div>
      </div>
    
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="./index.js"></script>
</body>
</html>