html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  color: #2d98da;
  font-family:'Chilanka', cursive;;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "menu menu menu . . . . . . . ."
    "menu menu menu fecha fecha fecha debito debito credito credito ."
    "menu menu menu codigo codigo codigo debitogrid debitogrid creditogrid creditogrid ."
    "menu menu menu nombre nombre nombre debitogrid debitogrid creditogrid creditogrid ."
    "menu menu menu nombre nombre nombre debitogrid debitogrid creditogrid creditogrid ."
    "menu menu menu nombre nombre nombre debitogrid debitogrid creditogrid creditogrid ."
    "menu menu menu grid grid grid grid grid grid grid ."
    "menu menu menu grid grid grid grid grid grid grid ."
    "menu menu menu grid grid grid grid grid grid grid ."
    "menu menu menu grid grid grid grid grid grid grid ."
    "menu menu menu . . . . . . . .";
}

.menu { grid-area: menu; }

.fecha { grid-area: fecha; }

.debito { grid-area: debito;display: flex;
 flex-direction: column; 
  justify-content: center; align-items: center; }

  .debito ul,li{
    list-style: none;
  }
.credito { grid-area: credito;display: flex;
  flex-direction: column; 
   justify-content: center; align-items: center; }

   .credito ul,li{
    list-style: none;
   }
.codigo { grid-area: codigo;position: relative;

  justify-content: center; align-items: center;}
   .codigo .abs{
     position: absolute;right: 5vh;
   }

.nombre { grid-area: nombre;}
.nombre textarea{
   
    min-height: 85%;
    min-width: 95%;
}


::-webkit-scrollbar {display: none;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.debitogrid {

  grid-area: debitogrid;overflow: scroll; 
  position:relative;  font-weight: bold;
  border: solid 0.3vh #341f97;
  font-family: 'Roboto', sans-serif;
  color: #1e272e;

  
}

.debitogrid input,
.creditogrid input{
  position:absolute;bottom:0.1px;width: 36vh;font-size: large; 
  color: #2d98da;
  border: 0 !important;
  font-size: large;
  font-weight: bold;
}

.creditogrid { grid-area: creditogrid; border: solid 0.3vh #341f97;
  position:relative;  font-weight: bold;
  font-family: 'Roboto', sans-serif;color: #1e272e; }


.grid { grid-area: grid; border: solid 0.3vh #341f97;overflow: scroll;}


[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
    color: #2d98da;

  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  

  label {
    display: block;
  }
  input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
  }

  
  /* Reset Select */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;

    background-image: none;
    color: #2d98da;
  font-family:'Chilanka', cursive;
  font-size: medium;
  border-color: #341f97;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {

    display: flex;
    width: 30vh;
    height: 5vh;
  

    overflow: hidden;
    border-radius: .25em;
  }
  select {
    flex: 1;
    padding: 0 .5em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
   visibility: hidden;
    top: 0;
    right: 0;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }
  

textarea{
  border-color:#341f97;;
}

input{
  border-color:#341f97;;
}

button{
  background-color: transparent;
  border: solid 0.3vh #341f97;
  color: #2d98da;
}

