@import url(https://fonts.googleapis.com/css?family=Quantico);



img {
    width: 100vw;
    margin: 0 0 1em 0;
}

form {
    width:80%;
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}

.form-group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}

.form-field {
  font-family: inherit;
  width: 100%;
  font-size: 16px;
  padding: 7px 4px;
  background: transparent;
  transition: border-color 0.2s;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 1em 0;
  border: 1px solid #8b1c20;
  background: #eeeeee;
  resize: none;
  outline: none;
}

input[type="text"],
input[type="email"] {
    height: calc(3em + 2px);
}

.form-field::placeholder {
  color: transparent;
}

.form-field:placeholder-shown ~ .form-label {
  font-size: 16px;
  cursor: text;
  top: 20px;
}

.form-field:focus {
  padding-bottom: 6px;
  border: 1px solid #8b1c20;
}

.form-field:valid {
    border-color: green;
}

.form-field:valid ~ .form-label {
  color: green;
}